* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*HEADER*/
header img {
  width: auto;
  display: block;
  margin: auto;
}
:root {
  --color-fuente: #000;
  --color-fondo: #ffffff;
}

[tema="light"]{
  --color-fuente: #fff;
  --color-fondo: #000;
}
h1 {
    color: rgb(10, 9, 10);
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
  }
h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
  body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 100%;
  height: 100vh;
  overflow-x: hidden;
  word-wrap: break-word;
  color: #1f1f1f;
}
a {
  text-decoration:none;
}
a:hover {
  color: grey;
  text-decoration: none;
}
.video-fluid {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.video-fluid iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0px;
} 
main {
  width: 100%;
}
article {
  width: 100%;
}
nav {
  padding: 20px 0;;
  box-shadow: 0 4px 8px 0 grey;
  margin-bottom: 20px;
}
nav ul {
  text-transform: uppercase;
  font-size: 1rem;
  list-style-type: none;
}
nav li {
  padding-bottom: 5px;
  text-align: center;
  color: black;
}
.navwhite li a {
  font-weight: 800;
  color: white;
}
.navblack li a {
  font-weight: 800;
  color:var(--color-fuente);
}
nav li a {
  font-weight: 800;
  color: black;
}
nav li a:hover {
  color: grey;
  text-decoration: none;
}
.container {
  margin-right:auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

/********footer***********/
footer img {
  width: auto;
  background-color: white;
  fill: black;
}
footer {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  margin-top: 2em;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
footer a {
  color: white; 
}
footer a:hover {
  color: grey; 
  text-decoration: none;
}
footer ul {
  padding-bottom: 0;
  list-style-type: none;
  padding: 30px 0;
  margin: 0;
}
/********Contenedores del sitio***************/
main {
  width: 100%;
  background-color: var(--bg-main);
}
footer {
  padding: 30px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
/**************INDEX********************/
.portada header img {
  width: auto;
  background-color: white;
}
.portada header {
  background-color: black;
}
.portada {
  background-image: url("../img/caratula.webp");
  background-size:cover;
  background-position: center center;
}
.portada h1 {
  color: white;
}
.coloranimacion {
  animation: cambiarColor 5s linear infinite;
}
@keyframes cambiarColor {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: yellow;
  }
  100% {
    color: red;
  }
}
/**************CATEGORIAS********************/

.artistas {
  clip-path: circle(20% at 32% 45%);
  display: inline-block;
  overflow: hidden;
}
.artistascont {
  display: flex;
  align-items: center;
}
/**************PRESENTACION********************/
svg {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}
.miCirculo {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  animation: girar 2s linear infinite;
}

@keyframes girar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/**************Botón de cambio de tema***************/

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .boton {
    text-align: center;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--color-fuente);
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:var(--color-fondo);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: var(--color-fuente);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-fuente);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
.enlaces {
  background-color:var(--color-fondo);
  color:var(--color-fuente);
}
a:hover {
  background-color:var(--color-fondo);
  color:var(--color-fuente);
  text-decoration:none;
}
img {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
}
.carrusel {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
dd {
  margin-bottom: 1em;
}
#listaDetalle ul {
  margin: 2em;
  margin-bottom: 2em;
}
#listaDetalle li {
 margin-left: 2em;
 margin-bottom: 0.5em;
}
.videos {
  align-items: center;
}
/**********media******************/
@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  nav ul {
      font-size: 1.2rem;
      display: flex;
  }
  nav ul li {
      text-align: left;
      margin-right: 30px;
  }
}
@media (min-width: 992px) {
  footer {
      text-align: left;
  }
  footer {
      display:flex;
      justify-content: space-between;
  }
  footer li {
      display: inline-block;
  }      
  .footer li:last-child::after {
      content: "";
      padding-right: 0;
      padding-left: 0;
  }
}
@media (min-width: 576px) {
  .clipindex {
    clip-path: inset(10px 20px 30px 40px);
  }
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
} 
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.lite-youtube-fallback {
	aspect-ratio: 16 / 9; /* matches YouTube player */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

/* right-facing triangle "Play" icon */
.lite-youtube-fallback::before {
	display: block;
	content: '';
	border: solid transparent;
	border-width: 2em 0 2em 3em;
	border-left-color: red;
}

.lite-youtube-fallback:hover::before {
	border-left-color: #fff;
}

.lite-youtube-fallback:focus {
	outline: 2px solid red;
}